body{
  background:#020617;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  padding:20px;
}

h2{
  color:#38bdf8;
}

button{
  padding:14px 22px;
  background:#22c55e;
  color:black;
  border:none;
  border-radius:10px;
  font-size:16px;
  margin:8px;
  cursor:pointer;
}

input, select{
  padding:12px;
  width:90%;
  margin:6px 0;
  border-radius:8px;
  border:none;
}

a{
  color:#38bdf8;
  text-decoration:none;
}

.box{
  border:1px solid #334155;
  border-radius:10px;
  padding:12px;
  margin:10px 0;
  }
